/* Pour les écrans inférieurs ou égal à 600px  */

@media screen and (max-width: 600px) {
	h1 {
		font-size: 3rem;
		margin: 0.5rem auto 1.3rem;
	}

	h2 {
		font-size: 4rem;
		text-transform: uppercase;
		color: rgba(37, 38, 39, 0.2);
	}

	h3 {
		font-size: 4rem;
		color: var(--red-color);
	}
	p {
		font-size: 1.6rem;
		line-height: 2.5rem;
	}

	.container {
		flex-direction: column;
	}

	strong {
		font-size: 2.3rem;
	}

	/* --------------- HEADER PROFILE --------------- */

	.profile-header {
		min-height: 50vh;
	}
	.profile-header img {
		width: 125px;
	}
	.profile-bloc {
		padding: 0.5rem 2rem;
	}
	.profile-bloc p {
		font-size: 1.6rem;
		padding: 1rem 1.5rem 1.5rem;
	}
	.profile-bloc > .separator {
		margin: 0.5rem;
	}

	.profile-presentation {
		margin: 3rem;
	}

	/* --------------- MENU --------------- */
	/* .menu {
		visibility: hidden; sécurité si jamais problème avec le transform
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	} */

	/* --------------- MENU BURGER --------------- */
	/* .nav-toggle {
		background-color: red;
		width: 42px;
		height: 24px;
		position: absolute;
		top: 30px;
		right: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
	}
	.nav-toggle-bar {
		transition: background-color 0.5s ease-in-out;
	}

	.nav-toggle-bar,
	.nav-toggle-bar::before,
	.nav-toggle-bar::after {
		content: "";
		background-color: white;
		width: 100%;
		height: 3px;
		position: absolute;
		transition: all 0.5s ease-in-out;
	}
	.nav-toggle-bar::before {
		top: -10px;
	}
	.nav-toggle-bar::after {
		top: 10px;
	} */
}

@media screen and (min-width: 901px) {
	/* --------------- HEADER PROFILE --------------- */
	.header-page {
		display: flex;
	}
	.header-page header,
	.header-page .profile-presentation {
		flex: 1;
	}
	.profile-presentation {
		align-items: center;
		justify-content: center;
		margin: 5rem 7rem;
	}
}
